body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputBox {
    width: 200px;
    height: 40px;
}
.outputBox {
    width: 280px;
    height: 80px;
    background-color: lightblue;
}
.gamestatus {
    width: 200px;
    height: 40px;
    background-color: lightcoral;