body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputBox {
    width: 200px;
    height: 40px;
}
.outputBox {
    margin-top: 0;
    width: 290px;
    height: 80px;
    background-color: lightblue;
}
.gamestatus {
    margin-top: 30px;
    margin-bottom: 0;
    width: 290px;
    height: 70px;
    background-color: lightcoral;
}
.weapons {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 0;
    width: 280px;
    height: 50px;
    background-color: lightcoral;
    text-align: center;
}


    